body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#sidebar {
  position: absolute;
  top: 10px;
  right: 10px; /* Move sidebar to the top-right */
  width: 300px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 15px;
  font-family: Arial, sans-serif;
}

#sidebar h1 {
  font-size: 18px;
  margin: 0 0 10px;
  text-align: center;
}

.controls {
  margin-bottom: 15px;
}

.controls label {
  display: block;
  margin-bottom: 5px;
}

.controls input,
.controls button {
  width: 100%;
  margin-bottom: 10px;
}

#legend {
  margin-top: 15px;
}

#legend h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

#legend div {
  margin-bottom: 5px;
  font-size: 14px;
}


.fire-station-icon div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#exportBoundaryBtn {
  margin-top: 10px;
  width: 100%;
}
